<?php
return array(
	'components'=>array(
		'db'=>array(
			'connectionString' => 'mysql:host=localhost;dbname=yii_composer_webapp',
			'emulatePrepare' => true,
			'username' => 'root',
			'password' => 'speeder',
			'charset' => 'utf8',
		),
		'less'=>array(
			'compilerPath'=>'C:\Users\Administrator\AppData\Roaming\npm\lessc.cmd',
		),
	),
	'params'=>array(
		'adminEmail'=>'speeder.nfh@gmail.com',
	),
);
